@model Person
@{
    ViewData["Title"] = "Detail";
}

<div class="container">

    <div class="form-group">
        <label>Name</label>
        <input class="form-control" disabled id="customFile" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span><br />
    </div>

    <div class="form-group">
        <label>Position</label>
        <input class="form-control" disabled id="customFile" asp-for="Position" />
        <span class="text-danger" asp-validation-for="Position"></span><br />
    </div>

    <div class="form-group">
        <label>Images</label>
        <div class="form-group">
            <img style="width:130px;height:100px" src="~/assets/images/peoples/@Model.Image" />
        </div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" disabled id="description-text" rows="5" asp-for="Describtion"></textarea>
        <span class="text-danger" asp-validation-for="Describtion"></span><br />
    </div>

    <div class="form-group">
        <label>Facebook</label>
        <input class="form-control" disabled id="customFile" asp-for="Facebook" />
        <span class="text-danger" asp-validation-for="Facebook"></span><br />
    </div>

    <div class="form-group">
        <label>Twitter</label>
        <input class="form-control" disabled id="customFile" asp-for="Twitter" />
        <span class="text-danger" asp-validation-for="Twitter"></span><br />
    </div>

    <div class="form-group">
        <label>TikTok</label>
        <input class="form-control" disabled id="customFile" asp-for="TikTok" />
        <span class="text-danger" asp-validation-for="TikTok"></span><br />
    </div>



    <div class="form-group">
        <div class="buttons my-3">
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>
    </div>
</div>

