@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <a class="btn btn-success text-white" asp-action="Create" style="float:right">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Color</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <th>
                        <img style="width:60px;height:100px;" src="~/assets/images/category-image/@category.CategoryImage" />
                    </th>
                    <th>
                        @category.CategoryName
                    </th>
                    <th>
                        <img style="width:100px;height:100px;" src="~/assets/images/category-image/category-background/@category.BackgroundColor" />
                    </th>
                    <td>
                        <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@category.Id">Info</a>
                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                        <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

