@model Review
@{
    ViewData["Title"] = "Detail";
}

<div class="container">

    <div class="form-group">
        <label>UserName</label>
        <input class="form-control" disabled id="customFile" asp-for="Username" />
        <span class="text-danger" asp-validation-for="Username"></span><br />
    </div>

    <div class="form-group">
        <label>Email</label>
        <input class="form-control" disabled id="customFile" asp-for="Email" />
        <span class="text-danger" asp-validation-for="Email"></span><br />
    </div>

    <div class="form-group">
        <label>Raiting</label>
        <input class="form-control" disabled id="customFile" asp-for="Raiting" />
        <span class="text-danger" asp-validation-for="Raiting"></span><br />
    </div>

    <div class="form-group">
        <label>Context</label>
        <textarea class="form-control" disabled id="description-text" rows="5" asp-for="Describtion"></textarea>
        <span class="text-danger" asp-validation-for="Describtion"></span><br />
    </div>


    <div class="form-group">
        <div class="buttons my-3">
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>
    </div>
</div>

