@model ShopVM
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/assets/css/shop.css">

<main>
    <div class="head">
        <a asp-controller="Home" asp-action="Index">
            <div class="navigate">
                <i class="fa-solid fa-house-chimney"></i>
                Home
            </div>
        </a>
        <i class="fa-solid fa-chevron-right arrow"></i>
        <span>Products</span>
    </div>
    <div class="container">
        <div class="common">
            <h1 class="tittle">Products</h1>
            <div class="up">
                <div class="sort">
                    <span class="sort-by-word">Sort by:</span>
                    <div class="choose" style="display:flex;gap:10px;">

                        <select name="cars" id="product-filter">
                            <option value="All">All</option>
                            <option value="Best Selling">Best Selling</option>
                            <option value="Alphabetically,A-Z">Alphabetically,A-Z</option>
                            <option value="Alphabetically,Z-A">Alphabetically,Z-A</option>
                            <option value="Price,Low to High">Price,Low to High</option>
                            <option value="Price,High to Low">Price,High to Low</option>
                            <option value="Date,Old to New">Date,Old to New</option>
                            <option value="Date,New to Old">Date,New to Old</option>
                        </select>

                        <select name="category" id="category-filter">
                            
                            @foreach(var category in Model.Categories)
                            {
                                <option value="@category.CategoryName">@category.CategoryName</option>
                            }        
                        </select>
                
                    </div>
                </div>
            </div>

            

            <div style="width:100%;" class="partial-sort-datas">
                <partial name="_ProductSortPartial" model="Model.Products" />
            </div>

        </div>
    </div>
</main>
