@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}

<link rel="stylesheet" href="~/assets/css/register.css">
<main>
    <div class="container">
        <div class="common">
            <h1>Reset Password</h1>
            <div class="register">  
                <form asp-controller="Account" asp-action="ResetPassword" method="post">
                    <input placeholder="Password" asp-for="Password"><br>
                    <span class="text-danger" asp-validation-for="Password"></span>
                    <input placeholder="ConfirmPassWord" asp-for="ConfirmPassword"><br>
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    <button type="submit">Reset</button>
                    <input type="hidden" asp-for="Token" value="@Model.Token" />
                    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                    <div class="register">
                        <a style="color:white; text-decoration:none;" asp-action="Login">Back to login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


